.productControlsContainer {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  gap: 0.8rem;
  align-items: center;
}
.currentPage,
.button {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid var(--primary-gray);
  border-radius: var(--btn-radius-xs);
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.controlIcon {
  border: none;
  background: none;
  cursor: pointer;
}
.controlIcon img {
  width: 100%;
  height: 100%;
}
.button:hover,
.currentPage {
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
  transition: 0.2s ease-in;
}

