.sidebar {
  max-width: 54rem;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-gray);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.sidebarContentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6.3rem;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  font-size: var(--txt-reg-xl);
}
.sidebarHeader button {
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;
}
.emptyCartMsgContainer {
  margin: 15.1rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
  color: var(--secondary-dark-blue);
}
.emptyCartMsgContainer button {
  margin-top: 2.4rem;
}
.emptyCartMsgContainer h4 {
  font-size: 2.4rem;
  color: var(--primary-dark-blue);
  font-weight: 600;
}
.itemInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartList {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  flex: 1;
  overflow-y: auto;
  max-height: 50rem;
}
.cartList li {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  width: 100%;
  height: 13.4rem;
}
.itemName,
.itemTotalPrice {
  color: var(--primary-dark-blue);
  font-weight: 600;
}
.itemName {
  font-size: 1.4rem;
}
.itemTotalPrice {
  font-size: 1.8rem;
}
.cartList li img {
  width: 10rem;
  height: 100%;
  border: 1px solid var(--secondary-gray);
  border-radius: var(--btn-radius-md);
}
.itemInfoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60%;
}
.itemInfoContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--secondary-dark-blue);
}

.itemControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qtyButtonsContainer {
  border: 1px solid var(--secondary-gray);
  border-radius: var(--btn-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  gap: 0.2rem;
  font-size: 1.2rem;
}
.removeButton,
.qtyButtonsContainer button {
  background: none;
  border: none;
  cursor: pointer;
}
.qtyButtonsContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  line-height: 1;
}
.qtyButtonsContainer span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.removeButton {
  color: var(--secondary-dark-blue);
}
.cartSummaryContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.summaryInformationContainer {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-dark-blue);
  font-size: var(--txt-reg-md);
}
.summaryInformationContainer:last-of-type {
  color: var(--primary-dark-blue);
  font-weight: 600;
  font-size: var(--txt-reg-xl);
  margin-bottom: 10rem;
}
.summaryInformationContainer:first-of-type {
  margin-top: 15rem
}
