.productsSection {
  margin-top: 7.2rem;
}
.productsSection h1 {
  font-size: var(--heading-lg);
  font-weight: 600;
}
.productsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.userControlsContainer {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.userControlsContainer button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userControlsContainer select {
  border: none;
  width: 7rem;
  cursor: pointer;
}
.userControlsContainer p {
  font-size: var(--txt-reg-sm);
}
.productsContainer {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (3, auto);
  gap: 4.8rem 2.4rem;
}
.productsContainer button {
  max-width: 41.2rem;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  gap: 1rem;
  font-size: var(--txt-reg-lg);
  box-shadow: 10px 5px 5px var(--secondary-gray);
}
.productsContainer button img {
  width: 100%;
}
.productInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
}
.productsContainer button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}
.inputsGroupping {
  display: flex;
  gap: 1rem;
}
.filtersContainer {
  max-width: 39.2rem;
  padding: 1.6rem 2.5rem;
  position: absolute;
  right: 12rem;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  z-index: 9999;
  background-color: var(--white);
  border-radius: var(--btn-radius-sm);
  border: 1px solid var(--secondary-gray);
}
.filtersContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.filtersContainer p {
  font-size: var(--txt-reg-md);
  font-weight: 600;
}
.fieldset {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inputWrapper {
  position: relative;
}
.inputWrapper input {
  border: 1px solid var(--secondary-gray);
  border-radius: var(--btn-radius-sm);
  padding: 1.2rem;
  font-size: 1.4rem;
}
.inputWrapper .placeholder {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--secondary-dark-blue);
  font-size: 1.4rem;
}

/* required star styling */
.inputWrapper .placeholder .required {
  color: var(--primary-orange);
  margin-left: 0.2rem;
}

/* hide placeholder when typing */
.inputWrapper input:not(:placeholder-shown) + .placeholder,
.inputWrapper input:focus + .placeholder {
  display: none;
}
.productsAdditionalInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}
.productsAdditionalInfoContainer div {
  font-size: 1.4rem;
  border: 1px solid var(--secondary-gray);
  padding: 0.8rem;
  width: 14.1rem;
  border-radius: 5rem;
  text-align: center;
  color: var(--secondary-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.productsAdditionalInfoContainer div button {
  border: none;
  background: transparent;
  cursor: pointer;
}
