.formWrapper {
  max-width: 55.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4.8rem;
}
.formWrapper h1 {
  font-size: var(--heading-lg);
  color: var(--primary-dark-blue);
  font-weight: 600;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form input:not([type="file"]) {
  padding: 1rem 1.2rem;
  border-radius: var(--btn-radius-sm);
  border: 1px solid var(--secondary-gray);
  font-size: 1.4rem;
}
.form button {
  margin-top: 2.2rem;
}
.form input[type="file"] {
  margin-bottom: 2.2rem;
}
.inputWrapper {
  position: relative;
}
.inputWrapper input {
  width: 100%;
  box-sizing: border-box;
}

/* the “placeholder-like” span */
.inputWrapper .placeholder {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--secondary-dark-blue);
  font-size: 1.4rem;
}

/* required star styling */
.inputWrapper .placeholder .required {
  color: var(--primary-orange);
  margin-left: 0.2rem;
}

/* hide placeholder when typing */
.inputWrapper input:not(:placeholder-shown) + .placeholder,
.inputWrapper input:focus + .placeholder {
  display: none;
}
.passwordVisibilityToggle {
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #0F172A;
  cursor: pointer;
}
.membershipMessage {
  font-size: 1.4rem;
  margin: 0 auto;
}
.membershipMessage span {
  color: var(--primary-orange);
  cursor: pointer;
}
.membershipMessage span:hover {
  text-decoration: underline;
}