.btnLarge {
  padding: 1.6rem 6rem;
  font-size: 1.8rem;
}
.btnSmall {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
.btnLarge,
.btnSmall {
  background-color: var(--primary-orange);
  color: var(--white);
  border-radius: var(--btn-radius-md);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btnLarge:hover,
.btnSmall:hover {
  background-color: #cf3401;
}